*{
    font-family: "Karla", sans-serif;

}
header{
background-color:  #e15ba4;
;
}

header span{
    color: #111010;
    
    }
.nav-item a{
    color:  #0a0a0a;
    
    }
    

        .nav-item a:visited{
            color:  #fffdfd;
            
            } 
            .nav-item a:hover{
                color:  #630f02;
                
                } 
    
 #nav-butoon{
   background-color:  #F4CE14;
    
    } 

   .imagen{
background-image: url('imagenes/clon.png');

background-size: contain;

     } 
     .imagen2{
        background-image: url('imagenes/pagina.png');
      
        background-size: contain;
       
             } 

footer{
background-color: #FFEBD4;

} 

footer .icon-footer i{

    color:#F0A8D0 ;
}

footer p{
    color:#F0A8D0 ;
}   
footer p a{
       color:#F0A8D0 ;
}
#app{
    color :#e15ba4 ;
}

